body {
  background-color: black;

}
.App{
  color: #F58840;
  font-family: 'Source Code Pro', monospace;
  font-size: 18pt;

  font-weight: normal;
  text-align: center;
  text-shadow: 0 0 1.5px #F58840, 0 0 3.5px #F58840;
}